#top-nav {
  font-size: small;
  background-color: antiquewhite;
}

#bot-nav {
  padding: 1rem;
}

#social-links {
  font-size: 1rem;
}

#social-links #special {
  font-size: small;
}

#faculty-heading-container {
  height: 10rem;
  width: auto;
}

#faculty-heading-container h3 {
  font-size: 2.5rem;
}

.social-link {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  border-radius: 50%;
  transition: all 0.3s;
  font-size: 0.9rem;
}

.social-link:hover,
.social-link:focus {
  background: #ddd;
  text-decoration: none;
  color: #555;
}

.card-body figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.card-body figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.card-body figure {
  margin: 0;
  padding: 0;
  background: #fff;
  overflow: hidden;
}
.card-body figure:hover + span {
  bottom: -36px;
  opacity: 1;
}

/* Hero slider */
* {
  box-sizing: border-box;
}

/* h3{
    padding: 15px;
    background: #c00;
    color: #fff;
    font-weight: 800;
    font-size: 30px;
} */

.information-wrapper {
  /* padding: 10px; */
  display: flex;
  align-items: center;
}

.information {
  height: 60px;
  overflow: hidden;
}

.information > div span {
  font-size: larger;
  padding: 5px 15px;
  height: 50px;
  margin-bottom: 30px;
  display: block;
  text-align: inherit;
}

.information div:first-child {
  animation: slide 15s linear infinite;
}

@keyframes slide {
  0% {
    margin-top: -240px;
  }

  5% {
    margin-top: -160px;
  }

  35% {
    margin-top: -160px;
  }

  40% {
    margin-top: -80px;
  }

  65% {
    margin-top: -80px;
  }

  70% {
    margin-top: 0px;
  }

  99.9% {
    margin-top: 0px;
  }

  100% {
    margin-top: -240px;
  }
}

/* fontstyles */

#names_roboto {
  font-family: "Roboto Slab", serif;
}

.desig_noto {
  font-family: "Noto Serif", serif;
}
