.home{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#service{
    display: flex;
    justify-content: center;
}

@media screen and (max-width:640px){
    #service{
    display: table-cell;
    vertical-align: middle ;
    }
    .home{
        font-size:18px;
    }
}

.box{
    border:2px solid ;
    padding:34px;
    margin:10px;
    /* z-index: -3; */
    background-color:#01010B;
    height:380px;
    width:360px;
    text-align: center;
    border-radius: 5%;
}

#service.box.p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.h-secondary{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:1.5rem;
    color:white;
    cursor: pointer;
    z-index: 3;
}
#a{
    display: block;
    width:100%;
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    border: 1px solid #01010B;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 1%;
    
}
.modes{
    background-color: red;
}

.h-secondary{
    text-align: center;
    font-family: 'Varta', sans-serif;
}
.home1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 45px;
    z-index: 1;
    padding-top: 45px;
    font-family: 'Varta', sans-serif;
}
.home2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    z-index: 1;
    font-family: 'Montserrat', sans-serif;
}
.students{
    background-color: red;
}
.fee{
    background-color:#1BA308;
    align-items: center;
}
.modes:hover{
    background-color: #DD4027;
}
.fee:hover{
    background-color: #77CA1F;
}
.students:hover{
    background-color: #DD4027;
}



/* Scrolling Effect */

[data-aos] {
  visibility: hidden;
}
[data-aos].box{
  visibility: visible;
}

