.faq {
  margin: 50px 0;
  text-align: center;
}

hr {
  margin: 40px 150px;
  border-top: 2px solid;
}
 .information1 {
   text-align: left;
   margin: 20px 9.375rem;
 }
h4 {
  font-weight: bold;
}
@media screen and (max-width: 700px) {
  hr {
    margin: 60px;
  }
  .information {
    margin: 60px;
  }
}
