* {
  margin: 0;
  padding: 0;
  margin-left: 50;
}
.back {
  background-color: white;
  z-index: -3;
  opacity: 0.85;
}
.containerBody {
  margin-right: 100px;
  margin-left: 100px;
  /* margin-top: -60px; */
}
#service {
  margin: 34px;
  /* margin-left: 162px; */
  display: flex;
  z-index: -2;
}
.box {
  /* margin-left: 50%; */
  /* margin-right: 50%; */
  align-items: center;
  border: 10px double #7d8ee4;
  padding: 34px;
  margin: 10px;
  z-index: -3;
  background-color: rgb(255, 197, 197);
  height: 450px;
  width: 300px;
  text-align: center;
  z-index: 1;
  border-radius: 10%;
}
.home1{
  font-family: 'Roboto Slab', serif;
}
.home2{  
  font-family: 'Poppins', sans-serif;

}
.home3{  
    font-family: 'Poppins', sans-serif;
}
.center{
  font-family: 'Poppins', sans-serif;
}
.faculty{
  font-family: 'Arvo', serif;
}
.staff{
  font-family: 'Arvo', serif;
}
.fa{
  font-family: 'Arvo', serif;
}

#service.box.p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.h-secondary {
  font-family: 'Roboto Slab', serif;
  font-size: 1.8rem;
  color: rgb(0, 0, 0);
  cursor: pointer;
  z-index: 3;
}

.linkhighlight {
  /* width: fit-content; */
  margin: 0 auto;
}

.linkhighlight a {
  color: white;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
  border: 1px solid #01010b;
}

@media screen and (max-width: 991px) {
  .linkhighlight {
    width: min-content;
  }
}

.faculty {
  background-color: #313131;
  border-radius: 50px;
}

#prof {
  padding-left: 45px;
  padding-right: 45px;
}

.center {
  color: rgb(0, 0, 0);
  font-size: 16px;
  
}
.h-secondary {
  text-align: center;
}
.more {
  align-items: center;
}
.home {
  align-items: center;
}
.back {
  padding-bottom: 30px;
}
.home1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  color: #7d8ee4;
  font-weight: bold;
  z-index: 1;
  padding-top: 45px;
  
}
.home2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  width: 750px;
  align-content: center;
  margin: 0 auto;
  color: rgb(0, 0, 0);
  z-index: 1;
  
}
.home3 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: rgb(0, 0, 0);
  z-index: 1;
  
}
.staff {
  background-color: #313131;
  border-radius: 50px;
}
.more {
  background-color: #000000;
  color: white;
  border-radius: 50px;
}
.faculty:hover {
  background-color: #7d8ee4;
  color: black;
}
.staff:hover {
  background-color: #7d8ee4;
  color: black;
}
.more:hover {
  background-color: #ffffff;
  color: black;
}

/* Scrolling Effect */

[data-aos] {
  visibility: hidden;
}
[data-aos].box {
  visibility: visible;
}
#q {
  padding-left: 30px;
  padding-right: 30px;
}
#r {
  padding-left: 22px;
  padding-right: 22px;
}
#s {
  padding-left: 48px;
  padding-right: 48px;
}

/* /--------------footer------------/ */
.footer-section {
  background-color: #0075ac;
  margin-top: 70px;
}

.footer-section .footer-top {
  padding: 65px 15px;
}

.footer-section .copyright {
  border-top: 1px solid #312f56;
  padding: 27px 0;
  text-align: center;
}

.footer-section .copyright p {
  color: #b7b7b7;
  margin-bottom: 0;
}

.footer-section .copyright p a {
  color: #fff;
  font-weight: 500;
}

.footer-section .copyright p a:hover {
  color: #f6783a;
}

.footer-widget .fw-title {
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
  padding-top: 10px;
}

.footer-widget p,
.footer-widget span {
  color: #b7b7b7;
}

.footer-widget ul {
  list-style: none;
}

.footer-widget .about-widget img {
  margin-bottom: 30px;
}

.footer-widget .about-widget p {
  margin-top: 35px;
}

.footer-widget .social a {
  color: #b7b7b7;
  margin-right: 15px;
}
.footer-widget .dobule-link ul {
  display: inline-block;
}

.footer-widget .dobule-link ul a {
  display: block;
  font-size: 14px;
  color: #b7b7b7;
  margin-bottom: 15px;
}

.footer-widget .dobule-link ul a:hover {
  color: #f6783a;
}

.footer-widget .dobule-link ul li:last-child a {
  margin-bottom: 0;
}

.footer-widget .dobule-link ul:last-child {
  margin-left: 25px;
}

.footer-widget .recent-post li {
  margin-bottom: 25px;
}

.footer-widget .recent-post p {
  margin-bottom: 5px;
}

.footer-widget .recent-post span {
  font-size: 12px;
}

.footer-widget .recent-post span i {
  color: #f6783a;
  margin-right: 5px;
}

.footer-widget .contact li {
  margin-bottom: 15px;
  display: block;
}

.footer-widget .contact li p {
  margin-bottom: 0;
}

.footer-widget .contact i {
  font-size: 12px;
}

@media only screen and (max-width: 767px) {
  .footer-widget {
    margin-bottom: 40px;
    margin-left: 40px;
  }
}
/* /------------------footer ends-----------/ */

/* Mobile View */
@media only screen and (max-width: 768px) {
  .containerBody {
    margin-right: 50px;
    margin-left: 50px;
  }

  .footer-left-col,
  .footer-right-col {
    flex-basis: 100%;
  }
}
